.carousel{
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    width: 100%;
    justify-content: space-between;
}

.carousel .prev, .next {
    cursor: pointer;
    border: none;
    background-color: #999;
    color: #000;
    min-height: 100%;
    min-width: 28px;
    opacity: .2;
}

.prev{
    left: 14px;
}

.next{
    right: 14px;
}

.carousel .prev:hover, .next:hover{
    opacity: .5;
}

.carousel i{
    width: 48px;
}

.carousel img{
    width: auto;   
    height: 41.66vw;
    padding-left: 4px;
    padding-right: 4px;
}

#carousel-galery{
    scroll-behavior: smooth;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scrollbar-width: none; 
}

#carousel-galery::-webkit-scrollbar {
    display: none;
  }

@media only screen and (max-width: 600px){
    .carousel img{
        width: auto;
        height: 100vw;
    }
}