@import url(grid-view.css);

:root {
    --primary-color: #fff;
    --secondary-color: #555;
    --accent-color: #f1c232;
}

*{
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a{
    text-decoration: none;
    transition: .2s;
}

button{
    transition: .2s;
}

body{
    font-family: Helvetica, Serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 91.66%;
    padding-left: 8.33%;
    padding-right: 8.33%;
    border-bottom: solid rgba(0, 0, 0, .15) 1px;
}

nav img{
    height: 122px;
}

nav button{
    display: none;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
}

nav button:hover{
    color: var(--accent-color);
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu a{
    color: var(--secondary-color);
    margin-left: 6px;
    padding: 6px;
}

.menu a:hover{
    color: var(--accent-color);
}

footer{
    width: 91.66%;
    border-top: solid rgba(0, 0, 0, .15) 1px;
    text-align: center;
    color: var(--secondary-color);
}

footer a{
    padding: 16px;
    font-size: 22px;
    color: var(--secondary-color);
}

footer a:hover{
    padding: 16px;
    font-size: 22px;
    color: var(--accent-color);
}

#contato{
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 6px;
}

#contato:hover{
    opacity: .7;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 900px){
    .menu{
        display: none;
    }

    .menu button{
        display: block;
    }
}

@media only screen and (max-width: 900px){
    .menu{
        display: none;
    }

    nav button{
        display: block;
    }
}